body{
    color: #333333;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    margin-top: 16px;
    margin-bottom: 46px;
}

header a{
    margin-right: 16px;
    color: #888888;
    text-decoration: none;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top:  16px;
    padding: 16px 0;
}
h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

.img{
    width: 250px;
}
.main-content{
flex-grow: 1;
}
input{
padding: 10px;
    border: none;
    background-color: #888888;
    color: floralwhite;
    outline: none;
    border-radius: 4px;
}

input::placeholder{
    color: floralwhite;
}
button{
    padding: 10px;
    background-color: #333333;
    color: #eeeeee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
